img:first-child {
  animation: fadeInLeft 1.2s 1s;
}
img:last-child {
  animation: fadeInRight 1.2s 1s;
  // animation: fadeInOut 1.0s 1.0s;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.outline {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1.5px solid black;
  width: 80%;
  height: 40%;
  margin-top: 100px;
}
// @keyframes myAnimation{
//   0%{
//     // opacity: 1;
//   animation: fadeInUp 1.0s 1.0s;
// }

//   100%{

//     animation: fadeInOut 1.0s 1.0s;
//   }
// }
