
.banner {
  margin-bottom: 90px;
  // border: 1.5px solid black;
  height: 90%;
  width: 45%;
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  img{
    height: 55%;


  }
  :first-child {
    animation: fadeInLeft 1.2s 1s;
  }
  :last-child {
    animation: fadeInRight 1.2s 1s;
    // animation: fadeInOut 1.0s 1.0s;
  }
}


// @keyframes myAnimation{
//   0%{
//     // opacity: 1;
//   animation: fadeInUp 1.0s 1.0s;
// }

//   100%{

//     animation: fadeInOut 1.0s 1.0s;
//   }
// }
