.nav-bar {
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  background-color: #688a93;
  padding: 0 2rem;
}
h1{
  color: #ffffff;

}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 210px;
  top: 50%;
  margin-top: -120px;
  width: 100%;
  

  a{
    font-size: 19px;
    color: rgb(249, 249, 249);
    display: block;
    line-height: 51px;
    height: 51px;
    position: relative;
    text-decoration: none;
    
      &:hover {
        color: #ffffff;
    
      }
  }

}
